{% extends 'inventory/base.html' %}
{% load static %}

{% block head %}
  <!-- <link rel="stylesheet" href="{% static 'vetoffice/style.css' %}"> -->
{% endblock %}

{% block content %}
<div>
    <a href="{% url 'ingredients' %}">Ingredients</a>
    <a href="{% url 'menuitems' %}">Menu Items</a>
    <a href="{% url 'purchases' %}">Purchases</a>
</div>
<a href="{% url 'logout' %}">Log Out</a>
 <div>
    <p>Total Cost: {{ total_cost }}</p>
    <p>Total Revenue: {{ total_revenue }}</p>
    <p>Total Profit: {{ total_profit }}</p>
 </div>
{% endblock %}
